__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.env
ENV/


.vscode/
.DS_Store

*.log
*.tmp
*.temp
*.bak

# Keep data and weights if they are needed for inference
!yolov10n.pt
!cv-ml-core/data/**

# Ignore run artifacts
runs/

data/